* {
    color: #DEDE83;
}

h1 {
    padding: 20px 0 0 15px;
    font-family: 'Black Ops One', cursive;
}

li,
td,
th,
tr,
h3,
h2,
p {
    font-family: 'Allerta Stencil', sans-serif;
}

p,
h2 {
    padding: 20px 0 0 15px;
}


/*--------------------- Alert---------------- */

.reminder-heading {
    font-size: xx-large;
}

.reminder-p {
    color: rgb(255, 255, 255);
    padding: 0;
}


/*--------------------- NAV Section---------------- */

.navbar {
    background-color: #6F6F51;
}

.links ul {
    color: #DEDE83;
    font-family: 'Special Elite', cursive;
}

.links li {
    padding: 0 3rem;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 180px;
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    -ms-border-radius: 180px;
    -o-border-radius: 180px;
    border: 1px solid black;
    margin: 2px 0 2px 1rem;
}


/* --------------------------------heading----------------------------- */

#heading,
.bg-image,
.bg-image img {
    width: 100%;
    height: 200px;
}

#heading {
    margin-top: .5%;
}

.bg-image img {
    position: relative;
    filter: grayscale(80%);
    -webkit-filter: grayscale(80%);
}

.head-title {
    position: absolute;
    z-index: 1;
    text-align: center;
    margin: 5% 11%;
    color: #DEDE83;
    font-family: 'Black Ops One', cursive;
    font-size: 2.5rem;
    padding: 0 0;
    width: 75%;
}


/* ------------------Footer Section------------------------ */

footer {
    background-color: #6F6F51;
    text-align: center;
}

.footer {
    padding: 2px 0 1px 0;
}

.footer p {
    color: whitesmoke;
}

.logo1024 {
    width: 80px;
    height: 80px;
    filter: brightness(100);
    -webkit-filter: brightness(100);
    padding-top: 0.5rem;
}


/* --------------------Section------------------------------------- */

section {
    background-color: #49491E;
    margin-top: 1rem;
}


/* ---------------------Drill Notes--------------------------------- */

.drillTimer {
    padding-bottom: 0;
}

.drillTimer, .drillLetter, .nextDrill {
    padding-top: 0;
}

.drillLetter{
    padding-bottom: 2rem;
}



/* -------------------------Holiday Events ------------------------------- */

.sweater{
    margin-left: 20%;
}

.basketcontainer{
    text-align:justify;
    padding-left:15%;
}

.basketieimg{
    padding-left: 5%;
    padding-top: 1rem;
}

.basketieimg img{
    border-radius: 45%;
    -webkit-border-radius: 45%;
    -moz-border-radius: 45%;
    -ms-border-radius: 45%;
    -o-border-radius: 45%;
}


/* -------------------------CONVOY------------------------------- */

.convoyroster {
    padding: 1rem 0 2rem;
    overflow-x: auto;
}

.mainbody {
    margin-left: 25%;
    text-align: center;
}

.mainbody caption {
    padding-top: 1rem;
}

.advon {
    margin-left: 34%;
    text-align: center;
}


/* -------------------------Tables------------------------------- */

.drill table {
    text-align: center;
    margin-left: 15%;
}

.schedule td {
    padding: 10px;
}

.schedule th {
    padding: 1rem;
}

.drill td tr {
    padding: 50px;
}

.drill th {
    text-decoration: underline;
}

.drill table,
td,
tr {
    border: 5px solid #DEDE83;
}

.drill {
    padding: 1rem 0 2rem;
    overflow-x: auto;
}


/* ----------------------------full time staff-------------------------------------- */

.card-top-img {
    width: 10%;
    border-radius: 180px;
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    -ms-border-radius: 180px;
    -o-border-radius: 180px;
}

.staff {
    display: flex;
    gap: 5%;
    text-align: center;
    justify-content: center;
    padding: 2rem 0;
}

.bottom-of-card li {
    list-style-type: none;
    margin: 0 30px 0 20px;
    line-height: 2rem;
}

.card-placment {
    text-align: center;
    padding-top: 3rem;
    margin: 0 auto;
}

.phone {
    font-size: small;
}


/* --------------------------Links----------------------------------- */

.links-container {
    text-align: center;
    margin-bottom: 8rem;
}

.links-container ul {
    padding-bottom: 2rem;
    padding-left: 0;
}

.links-container li {
    padding: 6px 0;
    list-style-type: none;
}


/* ----------------------------Fonts-----------------------------  */


/* 


font-family: 'Allerta Stencil', sans-serif;
font-family: 'Black Ops One', cursive;
font-family: 'Michroma', sans-serif;
font-family: 'Special Elite', cursive;


*/